/* ===========================
   BASE - Grundlegende Styles
   ===========================
   Hier gehören:
   - Resets (*-Selector)
   - body, html Styles
   - Grundlegende Typografie
   - Globale Farben & Variablen
   - Link-Styles (a-Tag)
   - Font-Imports
   =========================== */

:root {
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 5rem;
  --color-primary: #3dcfb6;
  --color-text: whitesmoke;
  --fs-xs: 0.875rem;
  --fs-sm: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-2xl: 3rem;
  --fs-3xl: 4rem;
  --fs-4xl: 7.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background: linear-gradient(
    to top right,
    #1c1c1c 0%,
    #1c1c1c 32%,
    #202c29 42%,
    #1c3632 52%,
    #16403a 62%,
    #104943 72%,
    #0b4d42 100%
  );
}

a {
  color: var(--color-text);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
