* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: black;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    #1c1c1c 0%,
    #1c1c1c 32%,
    #202c29 42%,
    #1c3632 52%,
    #16403a 62%,
    #104943 72%,
    #0b4d42 100%
  );
}

a {
  color: whitesmoke;
  text-decoration: none;
}
