/* ===========================
   BASE - Grundlegende Styles
   ===========================
   Hier gehören:
   - Resets (*-Selector)
   - body, html Styles
   - Grundlegende Typografie
   - Globale Farben & Variablen
   - Link-Styles (a-Tag)
   - Font-Imports
   =========================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background: linear-gradient(
    to top right,
    #1c1c1c 0%,
    #1c1c1c 32%,
    #202c29 42%,
    #1c3632 52%,
    #16403a 62%,
    #104943 72%,
    #0b4d42 100%
  );
}

a {
  color: whitesmoke;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
