header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 0 5rem;
}

a {
  font-size: 1.5rem;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.links img {
  height: 30px;
}

.logo-container img {
  height: 50px;
  width: auto;
}
