/* Hero Section */

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding-top: 15rem;
  margin: 0 auto;
}

h1,
h2 {
  color: whitesmoke;
}

h1 {
  order: 2;
  font-size: 7.5rem;
}

h2 {
  order: 1;
  font-size: 3rem;
}

.btn-container {
  order: 3;
  display: flex;
  gap: 2rem;
  padding-bottom: 10rem;
}

button {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  border-radius: 35px;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: transparent;
}

.banner {
  order: 4;
  width: 120%;
  height: 50px;
  background-color: rgb(67, 67, 67, 0.65);
  transform: rotate(-2deg);
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.banner-track {
  display: flex;
  align-items: center;
  animation: banner 12s linear infinite;
  gap: 4rem;
}

.status {
  color: #3dcfb6;
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 4rem;
  flex-shrink: 0;
}

.dot {
  height: 10px;
  width: 10px;
  background: #3dcfb6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 4rem;
}

@keyframes banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* About Section */
