.about__content-wrapper > h3 {
  font-size: clamp(var(--fs-lg), 5vw, var(--fs-xl));
  font-family: var(--karla);
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: var(--spacing-md);
  max-width: 612px;
  width: 100%;
}

.about__content > h2 {
  font-size: clamp(var(--fs-2xl), 5vw, var(--fs-4xl));
  font-family: var(--fira);
  font-weight: 700;
  color: var(--color-primary);
}

.about__content p {
  font-size: clamp(var(--fs-xxs), 3vw, var(--fs-sm));
  font-family: var(--karla);
}

.about__details p {
  color: rgba(245, 245, 245, 0.75);
}

.about {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 437px), 1fr));
  column-gap: var(--spacing-lg);
  padding: 0 var(--spacing-lg) var(--spacing-2xl) var(--spacing-lg);
}

.about__portrait-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-height: 600px;
  margin-top: var(--spacing-3xl);
}

.about__portrait-container {
  position: relative;
  max-width: 612px;
  width: 100%;
  height: 100%;
}

.about__portrait-container::before {
  content: "";
  position: absolute;
  top: 5%;
  left: -7%;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/portrait-bg.svg);
  background-size: cover;
  background-position: left;
  z-index: 0;
}

.about__portrait-img {
  border-radius: var(--br-25);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
}

.about__content-wrapper {
  margin-top: var(--spacing-4xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__content {
  border: var(--border);
  border-radius: var(--br-25);
  height: fit-content;
  padding: clamp(var(--spacing-sm), 3vw, var(--spacing-lg));
  max-width: 612px;
  width: 100%;
}

.about__content > h2,
.about__content > p,
.about__details p {
  margin-bottom: var(--spacing-md);
}

.projects > h3,
.projects > p {
  margin-bottom: var(--spacing-md);
}

.about__details {
  display: flex;
  flex-direction: column;
}

.about__location-wrapper,
.about__focus-wrapper,
.about__strengths-wrapper {
  display: flex;
  gap: 18px;
}

.about__details img {
  height: 35px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .about {
    padding: 0 var(--spacing-xs) var(--spacing-2xl) var(--spacing-xs);
  }

  .about__portrait-container::before {
    content: none;
  }
}
