.projects {
  color: var(--color-text);
  display: grid;
  grid-template-columns: 1.25fr 0.5fr;
  padding: var(--spacing-3xl) 0 var(--spacing-2xl) var(--spacing-2xl);
  background-color: var(--color-bg);
}

.project {
  position: relative;
  border-top: 2px solid var(--color-primary);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg);
}

.project:hover {
  background-color: rgba(61, 207, 182, 0.35);
}

.project:nth-last-child(1) {
  border-bottom: 2px solid var(--color-primary);
}

.project__technologies {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__technologies > li {
  font-family: var(--karla);
  font-weight: 400;
  font-size: clamp(var(--fs-sm), 4vw, var(--fs-md));
}

.project__technologies > li:not(:last-child)::after {
  content: "|";
  display: inline-block;
  transform: translateY(0);
  align-items: center;
  color: #3dcfb6;
  padding: 0 clamp(var(--spacing-xxxs), 1.5vw, var(--spacing-xs));
}

.projects h2,
.projects h3,
.projects p {
  grid-column: 1 / -1;
}

.projects > h2 {
  margin-bottom: var(--spacing-xs);
  font-size: clamp(var(--fs-lg), 5vw, var(--fs-xl));
  font-family: var(--karla);
  font-weight: 500;
  color: var(--color-primary);
}

.projects > p {
  max-width: 45ch;
  font-size: clamp(var(--fs-xs), 3vw, var(--fs-sm));
  font-family: var(--karla);
}

.projects__left > div {
  grid-column: 1;
}

.projects__preview {
  grid-column: 2;
  position: relative;
}

.projects__preview-img {
  width: 95%;
  /* height: 95%; */
  position: relative;
  z-index: 2;
}

.projects__preview::before {
  opacity: 0;
}

.projects__preview--active::before {
  content: "";
  position: absolute;
  border-radius: 35px;
  background-image: url("../../assets/images/portrait-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.projects > h3 {
  font-size: clamp(var(--fs-2xl), 5vw, var(--fs-4xl));
  font-family: var(--fira);
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: var(--spacing-md);
}

.projects > p {
  margin-bottom: var(--spacing-md);
}

.project__title {
  font-size: clamp(var(--fs-lg), 4vw, var(--fs-xl));
  font-family: var(--fira);
  font-weight: 500;
}

@media (max-width: 1024px) {
  .projects {
    padding: 0 var(--spacing-lg) var(--spacing-2xl) var(--spacing-lg);
  }

  .projects__preview {
    display: none;
  }

  .projects__left {
    grid-column: 1 / -1;
  }
}

@media (max-width: 969px) {
  .projects {
    padding: 0 var(--spacing-xs) var(--spacing-2xl) var(--spacing-xs);
  }
}

@media (max-width: 635px) {
  .project {
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
  }

  .project__title {
    padding-bottom: var(--spacing-xs);
  }
}
