.references {
  background-color: var(--color-bg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.references__card {
  background-color: rgba(61, 207, 182, 0.35);
  width: 100%;
  min-height: 300px;
  border: 2px solid var(--color-primary);
  border-radius: var(--br-25);
  padding: clamp(var(--spacing-xs), 2.5vw, var(--spacing-lg)) clamp(var(--spacing-xs), 2.5vw, var(--spacing-md));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 clamp(250px, 50%, 550px);
}

.references__card:nth-child(2) {
  background-color: rgba(61, 207, 183, 0.678);
  scale: 1.2;
  transition: opacity 0.4s ease-in-out;
  position: relative;
}

.references__card:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: clamp(60px, 5.5vw, 70px);
  height: clamp(60px, 5.5vw, 70px);
  background: url("../../assets/icons/quotes.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -4%;
  left: -1%;
}

.references > h2 {
  font-size: clamp(var(--fs-lg), 6.5vw, var(--fs-xl));
  font-weight: 700;
  color: var(--color-primary);
  margin: var(--spacing-lg) 0 var(--spacing-3xl) 0;
  text-align: center;
  width: 100%;
}

.references__text {
  font-family: var(--karla);
  font-size: clamp(var(--fs-xxs), 3vw, var(--fs-md));
}

.references__author {
  font-family: var(--karla);
  font-size: clamp(var(--fs-xxs), 3vw, var(--fs-sm));
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.references__author::before {
  content: "";
  background-color: var(--color-text);
  display: inline-block;
  flex: 1;
  height: 1px;
  min-width: 25%;
  vertical-align: middle;
  margin-right: var(--spacing-sm);
}

.dot {
  height: 8px;
  width: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.dot--active {
  background-color: var(--color-primary);
  transform: scale(1.2);
}

.references__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-xl);
}

.references__content:nth-child(2) {
  justify-content: center;
  gap: clamp(var(--spacing-xl), 10vw, calc(var(--spacing-3xl) + var(--spacing-sm)));
}

.references__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-xl) 0;
}

.references__actions > button {
  border: none;
}

.references__selected-index {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.references__actions > img {
  margin: 0 var(--spacing-sm);
}

@media (max-width: 768px) {
  .references__content {
    gap: 0;
  }
}

@media (max-width: 400px) {
  .references > h2 {
    max-width: 21ch;
    text-align: center;
    align-self: center;
  }
}
